.avatar {
    max-height:30px;
    border-radius: 15px;
    width:auto;
    vertical-align:middle;
}
.room-nav-link {
    border: 1px solid lighten(#007bff, 40%);
    background: lighten(#007bff, 45%);
  
    & + .room-nav-link {
      border-top: 0 none;
    }
}

.chat {
    border: 1px solid lighten(#6c757d, 40%);
    background: lighten(#6c757d, 50%);
    height: 50vh;
    border-radius: 5px 5px 0 0;
    overflow-y: auto;

    .chat-message-container {
        padding: 5px;
      
        .avatar {
          margin: 5px;
        }
      
        .message-content {
          padding: 5px;
          border: 1px solid #007bff;
          border-radius: 5px;
          background: lighten(#007bff, 10%);
          color: white;
        }
      
        & + .chat-message-container {
          margin-top: 10px;
        }
    }
}

.chat-input {
    border-top: 0 none;
    border-radius: 0 0 5px 5px;
}